.app-side-toggler {
  position: relative;
  color: $oc-gray-5;
  display: inline-block;
  padding: .5rem 4rem .5rem 1rem;
  margin: .5rem;
  border: 1px solid $oc-gray-7;
  border-radius: 4px;
  outline-width: 0;

  &:hover {
    background: $oc-gray-8;
    color: $oc-gray-6;
  }
}
.app-side-toggler:after {
  content: '';
  position: absolute;
  border-top: 3px solid $oc-gray-5;
  border-bottom: 3px solid $oc-gray-5;
  width: 30px;
  height: 50%;
  top: 25%;
  right: 10px;
}

.app-side-toggler:before {
  content: '';
  position: absolute;
  background: $oc-gray-5;
  height: 3px;
  width: 30px;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
}
