.side-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.side-nav .metismenu {
    display: flex;
    flex-direction: column;
}

.side-nav .metismenu li {
  margin-top: 5px;
}
.side-nav .metismenu li:first-child {
  padding-top: 5px;
}
.side-nav .metismenu li:last-child {
  padding-bottom: 5px;
}

.side-nav .metismenu > li {
    position: relative;
}
.side-nav .metismenu a {
    font-size: $side-nav-a-font-size;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    outline-width: 0;
    @if $enable-transitions {
      transition: all $transition-duration $transition-timing-function;
    }

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }
}

.side-nav .metismenu ul a {
    padding: .5em;
    padding-left: 3.5rem;
}

.side-nav .metismenu ul ul a {
    padding-left: 4.5rem;
}
