.has-icon {
  width: 1.5rem;
  flex: 0 0 1.5rem;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: .5rem;
}

.onoffcanvas {
  visibility: hidden;
  &.is-open {
    visibility: visible;
  }
}

.elk-switch {
  user-select: none;
  cursor: default;
  display: none;
  align-items: center;
  margin: 0;
}

.elk-switch-indicator {
  display: inline-block;
  height: 1.25rem;
  width: 2.25rem;
  border-radius: 50px;
  position: relative;
  vertical-align: bottom;
  transition: .3s border-color, .3s background-color;
}

.elk-switch-indicator::before {
  content: '';
  position: absolute;
  height: calc(1.25rem - 4px);
  width: calc(1.25rem - 4px);
  top: 1px;
  left: 1px;
  border-radius: 50%;
  transition: .3s left;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.elk-switch-input {
  position: absolute;
  z-index: var(--elk-side-is-open-z-index);
  opacity: 0;
}

.elk-switch-input:checked~.elk-switch-indicator::before {
  left: calc(1rem + 1px);
}


@media(min-width: $elk-side-breakpoint) {
  .elk-switch{
    display: inline-flex;
  }
}
