// fixed layout
/*
* <body class="elk-app is-fixed">
*
*/

.elk-app.is-fixed {
  height: 100%;
  .elk-container,
  .elk-side,
  .elk-main {
    overflow-y: auto;
  }
}

/*
* <body class="elk-app is-fixed">
*   <div class="elk-main is-fixed">
*     ...
*   </div>
* </body>
*/

.elk-app.is-fixed .elk-main.is-fixed {
  .elk-main-content {
    overflow-y: auto;
  }
}
