/*
* .elk-side.is-mini
*/
@media (min-width: $elk-side-breakpoint) {
  .elk-side.is-mini {
    width: var(--elk-side-is-mini-width);
    border-width: 0 !important;
  }

  // .elk-side.is-mini.is-open ~ .elk-main {
  //   margin-left: var(--elk-side-is-mini-width);
  // }

  .elk-side.is-mini {
    .metismenu li:last-child {
      padding-bottom: 0;
    }

    .metismenu > li > a {
      &.has-arrow::after {
        border-width: 0;
      }
    }

    .nav-title {
      display: none;
      margin-left: 1.5rem;
    }

    .metismenu ul ul a {
      padding-left: 2.5rem;
    }

    .metismenu > li > ul {
      position: absolute;
      top: 100%;
      left: 100%;
      display: none;

      > li > a {
        padding: 0.5em 0.5em 0.5em 1.5em;
      }
    }

    .metismenu > li:hover > ul {
      display: block;
      min-width: calc(var(--elk-side-width) - var(--elk-side-is-mini-width) + 1px);
      height: auto !important;
    }

    .metismenu > li:hover {
      > a {
        display: flex;
        flex-direction: row;
        min-width: calc(var(--elk-side-width) + 1px);
      }

      .nav-title {
        display: inline-block;
        align-self: center;
      }

      > .has-arrow::after {
        border-width: 1px 0 0 1px;
        transform: rotate(-135deg);
      }
    }
  }
}
