// layout

.elk-app,
body > .ember-view {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.elk-wrap {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.elk-header {
  position: relative;
  &.is-sticky {
    position: sticky;
    top: 0;
    z-index: var(--elk-side-z-index);
  }
}

.elk-container {
  display: flex;
  flex: 1 1 auto;
  flex-basis: auto;
  flex-direction: row;
  position: relative;
}

.elk-main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-x: auto;
  @if $enable-transitions {
    transition: margin $transition-duration $transition-timing-function;
  }
}

.elk-main-content {
  position: relative;
  margin-bottom: auto;
  flex: 1 1 auto;
}

.elk-side {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
}

.elk-footer.is-sticky {
  position: sticky;
  bottom: 0;
  z-index: var(--elk-side-is-open-z-index);
}
