// elk-side
/*
* elk-side : inspired .onoffcanvas.is-left
*
* available classess: is-open
*/
.elk-side {
  width: 100%;
  @media (min-width: $elk-side-breakpoint) {
    width: var(--elk-side-width);
  }
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: var(--elk-side-z-index);
  transform: translate3d(-100%, 0, 0);
  @if $enable-transitions {
    transition: transform $transition-duration $transition-timing-function;
  }
}
/*
* show elk-side
*/
.elk-side.is-open {
  transform: translate3d(0, 0, 0);
  flex-shrink: 0;

  @media (min-width: $elk-side-breakpoint) {
    position: relative;
  }
}

/*
* side-content
*
* available classess: is-sticky
*/
@media (min-width: $elk-side-breakpoint) {
  .elk-side-content {
    margin-bottom: auto;
    &.is-sticky {
      margin-bottom: initial;
      position: sticky;
      top: 0;
      z-index: var(--elk-side-is-open-z-index);
    }
  }
  .elk-side:not(.is-mini) .elk-side-content.is-sticky {
    overflow-y: auto;
  }
}

.elk-side-header {
  padding: 0.5rem;
  text-align: right;
}
