.elk-side-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.elk-side-nav .metismenu {
    display: flex;
    flex-direction: column;
}

.elk-side-nav .metismenu li {
  margin-top: .25rem;
}
.elk-side-nav .metismenu li:first-child {
  padding-top: .25rem;
}
.elk-side-nav .metismenu li:last-child {
  padding-bottom: .25rem;
}

.elk-side-nav .metismenu > li {
    position: relative;
}
.elk-side-nav .metismenu a {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    outline-width: 0;
    @if $enable-transitions {
      transition: all $transition-duration $transition-timing-function;
    }

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }
}

.elk-side-nav .metismenu a {
    padding: .5rem 1rem;
}

.elk-side-nav .metismenu ul a {
    padding: .5rem;
    padding-left: 3.5rem;
}

.elk-side-nav .metismenu ul ul a {
    padding-left: 4.5rem;
}
