// elk-header
.elk-header {
  background: var(--elk-header-bg-color);
  border-bottom: 1px solid var(--elk-header-border-color);
}

/* .elk-top-nav colors */

.elk-header .elk-top-nav {
  a,
  li,
  ul {
    background: var(--elk-header-bg-color);
  }
  .metismenu a {
    color: var(--top-nav-a-color);
    &:active,
    &:focus,
    &:hover {
      color: var(--top-nav-a-hover-color);
      // background: var(--top-nav-a-hover-bg-color);
    }
  }
  .metismenu li:hover > a,
  .metismenu li.active > a,
  .metismenu li > a.active {
    color: var(--top-nav-a-hover-color);
    // background: var(--top-nav-a-hover-bg-color);
  }
}

.elk-top-nav .metismenu a {
  font-size: var(--top-nav-a-font-size);
}

// elk-side
.elk-side {
  background: var(--elk-side-bg-color);
  &.is-open {
    border-right: 1px solid var(--elk-side-border-color);
  }
}

/* .elk-side-nav colors */

.elk-side .elk-side-nav {
  a,
  li,
  ul {
    background: var(--elk-side-bg-color);
  }
  .metismenu a {
    color: var(--side-nav-a-color);
    &:active,
    &:focus,
    &:hover {
      color: var(--side-nav-a-hover-color);
      // background: var(--side-nav-a-hover-bg-color);
    }
  }
  .metismenu li:hover > a,
  .metismenu li.active > a,
  .metismenu li > a.active {
    color: var(--side-nav-a-hover-color);
    // background: var(--side-nav-a-hover-bg-color);
  }
}

.elk-side-nav .metismenu a {
  font-size: var(--side-nav-a-font-size);
}

// elk-switch
.elk-switch-indicator {
  background: var(--elk-switch-indicator-bg);
  border: 1px solid var(--elk-switch-indicator-border);
}

.elk-switch-indicator::before {
  background: var(--elk-switch-indicator-before);
}

.elk-switch-input:checked~.elk-switch-indicator {
  background: var(--elk-switch-indicator-checked-bg);
}

// elk-main-content
.elk-main-content {
  padding: var(--main-content-padding);
}
