// layout

.app,
body > .ember-view {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.app-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.app-heading {
  position: relative;
}

.app-container {
  display: flex;
  flex: 1 1 auto;
  flex-basis: auto;
  flex-direction: row;
  position: relative;
}

.app-main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  flex-basis: 0%;
  @if $enable-transitions {
    transition: margin $transition-duration $transition-timing-function;
  }
}

.main-content {
  position: relative;
  margin-bottom: auto;
  flex: 1 1 auto;
  flex-basis: auto;
  padding: $main-content-padding;
}

.app-side {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
}
