// layout

.app,
body > .ember-view {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.app-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.app-heading {
  position: relative;
}

.app-container {
  display: flex;
  flex: 1 1 auto;
  flex-basis: auto;
  flex-direction: row;
  position: relative;
}

.app-main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  flex-basis: 0%;
  @if $enable-transitions {
    transition: all $transition-duration $transition-timing-function;
  }
}

.main-content {
  position: relative;
  margin-bottom: auto;
  flex: 1 1 auto;
  flex-basis: auto;
  padding: $main-content-padding;
}

.app-side {
  width: $app-side-width;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  @if $enable-transitions {
    transition: all $transition-duration $transition-timing-function;
  }
}

.app-side.is-open {
  z-index: $app-side-z-index;
}

@media (min-width: $app-side-breakpoint) {
  .app-side.is-open ~ .app-main {
    margin-left: $app-side-width;
  }
  .side-heading {
    display: none;
  }
}

.side-content {
  margin-bottom: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-is-fixed {
  .app {
    height: 100%;
  }

  .app-container,
  .app-main {
    overflow-y: auto;
  }
}

.main-is-fixed {
  .app {
    height: 100%;
  }

  .app-container,
  .app-main,
  .main-content {
    overflow-y: auto;
  }
}
