// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Elektron defaults without modifying key, versioned files.

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions: true !default;

// app-side width
$app-side-width: 256px !default;
$app-side-is-mini-width: 56px !default;

// breakpoint
$app-side-breakpoint: 992px !default;

// app-side visibility z-index
$app-side-z-index: 1000 !default;

$side-nav-a-font-size             : 14px;
$top-nav-a-font-size              : 14px;

$app-side-bg-color                : $oc-white;
$side-nav-a-color                 : $oc-gray-7;
$side-nav-a-hover-color           : $oc-orange-8;
$side-nav-a-hover-bg-color        : $oc-gray-2;

$app-side-inverse-bg-color        : $oc-gray-8;
$app-side-inverse-a-color         : $oc-gray-6;
$app-side-inverse-a-hover-color   : $oc-gray-5;
$app-side-inverse-a-hover-bg-color: $oc-gray-9;

$app-heading-bg-color             : $oc-white;
$top-nav-a-color                  : $oc-gray-7;
$top-nav-a-hover-color            : $oc-orange-8;
$top-nav-a-hover-bg-color         : $oc-gray-2;

$app-heading-inverse-bg-color        : $oc-gray-8;
$app-heading-inverse-a-color         : $oc-gray-6;
$app-heading-inverse-a-hover-color   : $oc-gray-5;
$app-heading-inverse-a-hover-bg-color: $oc-gray-9;


// main-content padding
$main-content-padding: 1rem !default;

// app-side and app-main transition
$transition-duration: 0.3s !default;
$transition-timing-function: ease-out !default;
