@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
html {
  font-size: 14px;
}
.app {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.app-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.app-heading {
  position: relative;
}

.app-container {
  display: flex;
  flex: 1 1 auto;
  flex-basis: auto;
  flex-direction: row;
  position: relative;
}

.app-main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.main-content {
  position: relative;
  margin-bottom: auto;
  flex: 1 1 auto;
  padding-top: 1rem;
}

.app-side {
  width: 240px;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
}

.app-side.is-open {
  z-index: $zindex-navbar;
}


@media (min-width: 768px) {

  .app-side.is-open {
    position: relative;
  }
}
.side-content {
  margin-bottom: auto;
}

.bg-white {
  background: #fff;
}


.metismenu .active > .nav-link .fa.arrow:before {
  content: "\f107";
}
