@import "elk-variables";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: system-ui;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #495057;
  background-color: #f8f9fa;
}

a {
  color: #339af0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #862e9c;
}

img {
  vertical-align: middle;
}

.elk-footer,
.elk-main-header,
.elk-main-footer {
  background: #f8f9fa;
}

.elk-main-header {
  border-bottom: 1px solid #dee2e6;
}

.elk-footer,
.elk-main-footer {
  border-top: 1px solid #dee2e6;
}

table {
    width: 100%;
    background: #fff;
}
table,
th,
tr,
td {
  border-collapse: collapse;
  border: 1px solid #e9ecef;
  padding: .25rem;
}
.elk-main-content .elk-switch {
  display: inline-flex;
}

.onoffcanvas-drawer.is-open {
  background: rgba(0, 0, 0, .5);
}
