<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Elektron - {{title}}</title>

  {{> head}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1669764-16"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1669764-16');
</script>

</head>

<body>

  <!-- BEGIN .elk-app -->
  <div class="elk-app{{#if elkAppIsFixed}} is-fixed{{/if}}{{#if elkMainIsFixed}} is-fixed{{/if}}">

    <!-- BEGIN .elk-wrap -->
    <div class="elk-wrap">
      {% body %}
    </div>
    <!-- END: .elk-wrap -->

  </div>
  <!-- END: .elk-app -->

  {{> scripts}}

</body>

</html>
