<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Elektron - {{title}}</title>

  {{> head}}

</head>

<body>

  <!-- BEGIN .elk-app -->
  <div class="elk-app{{#if elkAppIsFixed}} is-fixed{{/if}}{{#if elkMainIsFixed}} is-fixed{{/if}}">

    <!-- BEGIN .elk-wrap -->
    <div class="elk-wrap">
      {% body %}
    </div>
    <!-- END: .elk-wrap -->

  </div>
  <!-- END: .elk-app -->

  {{> scripts}}

</body>

</html>
