---
layout: base
---
<!-- BEGIN .elk-container -->
<div class="elk-container">

  <!-- BEGIN .app-side -->
  <aside class="elk-side {{#if app-side-class}}{{app-side-class}}{{/if}}" id="elk-side">

    {{> elk-side-header}}

    <!-- BEGIN .elk-side-content -->
    <div class="elk-side-content">
      {{> elk-side-nav }}
    </div>
    <!-- END: .elk-side-content -->

    {{> elk-side-footer}}

  </aside>
  <!-- END: .elk-side -->

  <!-- BEGIN .elk-main -->
  <div class="elk-main">

    <!-- BEGIN .elk-main-header -->
    <header class="elk-main-header">
      <a class="onoffcanvas-toggler is-animated" href="#elk-side" data-toggle="onoffcanvas"></a>
      <a href="index.html">
        <img src="assets/img/logo.svg" alt="Elektron Logo">
      </a>
    </header>
    <!-- END: .elk-main-header -->

    <!-- BEGIN .elk-main-content -->
    <div class="elk-main-content">
<label class="elk-switch">
        <input name="dark" class="elk-switch-input" type="checkbox">
        <span class="elk-switch-indicator"></span>
      </label>
      <hr>
        {% body %}

    </div>
    <!-- END: .elk-main-content -->

    <!-- BEGIN .elk-main-footer -->
    <footer class="elk-main-footer" style="padding: 1rem;">
      {{> ads}}
    </footer>
    <!-- END: .elk-main-footer -->

  </div>
  <!-- END: .elk-app-main -->

</div>
<!-- END: .elk-container -->
