---
layout: base
---
<!-- BEGIN .elk-container -->
<div class="elk-container">

  <!-- BEGIN .app-side -->
  <aside{{#if dark}} data-theme=dark{{/if}} class="elk-side {{#if app-side-class}}{{app-side-class}}{{/if}}" id="elk-side">

    {{> elk-side-header}}

    <!-- BEGIN .elk-side-content -->
    <div class="elk-side-content">
      {{> elk-side-nav }}
    </div>
    <!-- END: .elk-side-content -->

    {{> elk-side-footer}}

  </aside>
  <!-- END: .elk-side -->

  <!-- BEGIN .elk-main -->
  <div class="elk-main">

    <!-- BEGIN .elk-main-header -->
    <header class="elk-main-header">
      <a class="onoffcanvas-toggler is-animated" href="#elk-side" data-toggle="onoffcanvas"></a>
    </header>
    <!-- END: .elk-main-header -->

    <!-- BEGIN .elk-main-content -->
    <div class="elk-main-content">

        {% body %}

    </div>
    <!-- END: .elk-main-content -->

    <!-- BEGIN .elk-main-footer -->
    <footer class="elk-main-footer">
      main footer
    </footer>
    <!-- END: .elk-main-footer -->

  </div>
  <!-- END: .elk-app-main -->

</div>
<!-- END: .elk-container -->
