---
layout: false
---
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Elektron -fixed topbar</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="assets/vendor/metismenu/metisMenu.min.css">
  <link rel="stylesheet" href="assets/vendor/metis-canvas/metis-canvas.min.css">
  <link rel="stylesheet" href="assets/css/elektron.css">
  <link rel="stylesheet" href="assets/css/elektron-demo.css">

  <style media="screen">
    .app-heading {
      min-height: 3.5rem;
    }
    .fixed-topbar {
      background: #777;
      height: 3.5rem;
      z-index: 1001;
    }
  </style>
</head>

<body>

  <!-- BEGIN .app -->
  <div class="app">

    <!-- BEGIN .app-wrap -->
    <div class="app-wrap">

      <!-- BEGIN .app-heading -->
      <header class="app-heading">
        <nav class="fixed-topbar canvas is-top is-fixed is-open">
          <a href="#app-side" data-toggle="canvas">
            MENU
          </a>
        </nav>
      </header>
      <!-- END:  .app-heading -->

      <!-- BEGIN .app-container -->
      <div class="app-container">

        <!-- BEGIN .app-side -->
        <aside class="app-side canvas is-left" id="app-side">

          <!-- BEGIN .side-content -->
          <div class="side-content">
            {{> side-nav }}
          </div>
          <!-- END: .side-content -->

          <!-- BEGIN .side-footer -->
          <footer class="side-footer">
            SIDE FOOTER
          </footer>
          <!-- END .side-footer -->

        </aside>
        <!-- END: .app-side -->

        <!-- BEGIN .app-main -->
        <div class="app-main">

          <!-- BEGIN .main-heading -->
          <header class="main-heading">
            MAIN HEADING
          </header>
          <!-- END: .main-heading -->

          <!-- BEGIN .main-content -->
          <div class="main-content">

            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
          </div>
          <!-- END: .main-content -->

          <!-- BEGIN .main-footer -->
          <footer class="main-footer">
            main footer
          </footer>
          <!-- END: .main-footer -->

        </div>
        <!-- END: .app-main -->

      </div>
      <!-- END: .app-container -->

      <!-- begin .app-footer -->
      <footer class="app-footer">
        <p>
          {{pkg.name}} v{{pkg.version}} 2017
        </p>
      </footer>
      <!-- END: .app-footer -->

    </div>
    <!-- END: .app-wrap -->

  </div>
  <!-- END: .app -->

  <!-- jQuery first, then Tether, then other JS. -->
  <script src="assets/vendor/jquery/jquery.min.js" charset="utf-8"></script>
  <script src="assets/vendor/metismenu/metisMenu.min.js" charset="utf-8"></script>
  <script src="assets/vendor/metis-canvas/metis-canvas.min.js" charset="utf-8"></script>
  <script src="assets/js/elektron.js" charset="utf-8"></script>

</body>

</html>
