---
title: Dashboard
---
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4>Welcome to Elektron Bootstrap 4 Based Admin Toolkit</h4>
  <p>I hope you like it.</p>
</div>


<div class="row">
  <div class="col-md-3">
    <div class="card bg-primary text-white">
      CARD
    </div>
  </div>
</div>
