---
title: Dashboard
---


<h1>Elektron: <small>{{pkg.description}}</small></h1>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/onokumus" data-size="large" data-show-count="true" aria-label="Follow @onokumus on GitHub">Follow @onokumus</a><!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/onokumus/elektron" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star onokumus/elektron on GitHub">Star</a>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/onokumus/elektron/archive/master.zip" data-icon="octicon-cloud-download" data-size="large" aria-label="Download onokumus/elektron on GitHub">Download</a>
{{#markdown}}
## Install
Install with [npm](https://www.npmjs.com/):

```sh
$ npm install --save elektron
```
Install with [yarn](https://yarnpkg.com/)

```sh
$ yarn add elektron
```
{{/markdown}}

{{#markdown}}
## Download
[Download Link](https://github.com/onokumus/elektron/archive/master.zip)
{{/markdown}}

<h2>HTML Structure</h2>
<p>
  <code>.elk-app</code> class should be added to div element inside the body tag.
 </p>

<h3>Basic Template</h3>
<span>Start with this basic HTML template.</span>

{{#markdown}}
{{> basic-html }}
{{/markdown}}

{{md "document.md"}}

{{#markdown}}
```html
  <div class="elk-app is-fixed">
    <div class="elk-main is-fixed">
      ...
    </div>
  </div>
```
{{/markdown}}

<h4>sticky top bar</h4>
{{#markdown}}
```html
<!-- BEGIN .elk-header -->
<header class="elk-header is-sticky">
    <a href="#elk-side" data-toggle="onoffcanvas" class="onoffcanvas-toggler" aria-expanded=false></a>
    <span>APP HEADER</span>
</header>
<!-- END:  .elk-header -->
```
{{/markdown}}

<h4>sticky bottom bar</h4>
{{#markdown}}
```html
<!-- begin .elk-footer -->
<footer class="elk-footer is-sticky is-bottom">
    <p>
      elektron v1.0.0 2018
    </p>
</footer>
<!-- END: .elk-footer -->
```
{{/markdown}}
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>