---
title: Dashboard
---
<h1>Elektron: <small>{{pkg.description}}</small></h1>


{{#markdown}}
## Install
Install with [npm](https://www.npmjs.com/):

```sh
$ npm install --save elektron
```
Install with [bower](https://bower.io/)

```sh
$ bower install elektron --save
```
{{/markdown}}

{{#markdown}}
## Download
[Download Link](https://github.com/onokumus/elektron/archive/master.zip)
{{/markdown}}

<h2>HTML Structure</h2>
<p>
  <code>.app</code> class should be added to div element inside the body tag. If you will
   use the Elektron with <a href="http://emberjs.com/" target="_blank">ember.js</a>, you don't need this element.
 </p>

<h3>Basic Template</h3>
<span>Start with this basic HTML template.</span>


{{#markdown}}
```html
{{> basic-html }}
```
{{/markdown}}

{{md "document.md"}}

<h4>top bar fixed</h4>
<pre><code class="language-markup">&lt;header class="app-heading" style="min-height: 50px;"&gt;
  &lt;nav class="canvas is-fixed is-top is-open" style="z-index: 1001;"&gt;
  ...
  &lt;/nav&gt;
&lt;/header&gt;</code></pre>

<h4>bottom bar fixed</h4>
<pre><code class="language-markup">&lt;footer class="app-footer" style="min-height: 50px;"&gt;
  &lt;nav class="canvas is-fixed is-bottom is-open" style="z-index: 1001;"&gt;
  ...
  &lt;/nav&gt;
&lt;/footer&gt;</code></pre>
