---
title: Dashboard
---
<h1>Elektron: <small>{{pkg.description}}</small></h1>

{{#markdown}}
## Install
Install with [npm](https://www.npmjs.com/):

```sh
$ npm install --save elektron
```
Install with [bower](https://bower.io/)

```sh
$ bower install elektron --save
```
{{/markdown}}

{{#markdown}}
## Download
[Download Link](https://github.com/onokumus/elektron/archive/master.zip)
{{/markdown}}

<h2>HTML Structure</h2>
<p>
  <code>.app</code> class should be added to div element inside the body tag. If you will
   use the Elektron with <a href="http://emberjs.com/" target="_blank">ember.js</a>, you don't need this element.
 </p>

<h3>Basic Template</h3>
<span>Start with this basic HTML template.</span>


{{#markdown}}
{{> basic-html }}
{{/markdown}}

{{md "document.md"}}

<h4>sticky top bar</h4>
{{#markdown}}
```html
<!-- BEGIN .app-heading -->
<header class="app-heading is-sticky">
    <a href="#app-side" data-toggle="onoffcanvas" class="onoffcanvas-toggler" aria-expanded=false></a>
    <span>APP HEADING</span>
</header>
<!-- END:  .app-heading -->
```
{{/markdown}}

<h4>sticky bottom bar</h4>
{{#markdown}}
```html
<!-- begin .app-footer -->
<footer class="app-footer is-sticky is-bottom">
    <p>
      {{pkg.name}} v{{pkg.version}} 2017
    </p>
</footer>
<!-- END: .app-footer -->
```
{{/markdown}}
