---
layout: false
---
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Elektron - no headers</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="assets/vendor/metismenu/metisMenu.min.css">
  <link rel="stylesheet" href="assets/vendor/onoffcanvas/onoffcanvas.min.css">
  <link rel="stylesheet" href="assets/css/elektron.css">
  <link rel="stylesheet" href="assets/css/elektron-demo.css">
</head>

<body>

  <!-- BEGIN .app -->
  <div class="app">

    <!-- BEGIN .app-wrap -->
    <div class="app-wrap">

      <!-- BEGIN .app-container -->
      <div class="app-container">

        <!-- BEGIN .app-side -->
        <aside class="app-side onoffcanvas is-left" id="app-side">

          {{> side-heading}}

          <!-- BEGIN .side-content -->
          <div class="side-content">
            {{> side-nav }}
          </div>
          <!-- END: .side-content -->

          <!-- BEGIN .side-footer -->
          <footer class="side-footer">
            SIDE FOOTER
          </footer>
          <!-- END .side-footer -->

        </aside>
        <!-- END: .app-side -->

        <!-- BEGIN .app-main -->
        <div class="app-main">

          <!-- BEGIN .main-content -->
          <div class="main-content">

            <a href="#app-side" data-toggle="onoffcanvas" class="onoffcanvas-toggler" aria-expanded=false></a>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>

          </div>
          <!-- END: .main-content -->

          <!-- BEGIN .main-footer -->
          <footer class="main-footer">
            main footer
          </footer>
          <!-- END: .main-footer -->

        </div>
        <!-- END: .app-main -->

      </div>
      <!-- END: .app-container -->

      <!-- begin .app-footer -->
      <footer class="app-footer">
        <p>
          {{pkg.name}} v{{pkg.version}} 2017
        </p>
      </footer>
      <!-- END: .app-footer -->

    </div>
    <!-- END: .app-wrap -->

  </div>
  <!-- END: .app -->

  <!-- jQuery first, then Tether, then other JS. -->
  <script src="assets/vendor/jquery/jquery.min.js" charset="utf-8"></script>
  <script src="assets/vendor/metismenu/metisMenu.min.js" charset="utf-8"></script>
  <script src="assets/vendor/onoffcanvas/onoffcanvas.min.js" charset="utf-8"></script>
  <script src="assets/js/elektron.js" charset="utf-8"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js" data-manual></script>

  <script>
    $(function(){
      $('.language-markup > pre > code').addClass('language-markup');
      Prism.highlightAll();
    });
  </script>

</body>

</html>
