---
title: Sticky Sidebar
sideCntSticky: true
---
<p>Supported browser : <a href="http://caniuse.com/#feat=css-sticky">http://caniuse.com/#feat=css-sticky</a></p>

{{#markdown}}
```html
<!-- BEGIN .side-content -->
<div class="side-content is-sticky">
  {{> side-nav }}
</div>
<!-- END: .side-content -->
```
{{/markdown}}
