<!-- BEGIN .side-nav -->
<nav class="side-nav">

  <!-- BEGIN: side-nav-content -->
  <ul class="metismenu nav" id="metismenu">

    <li>
      <a class="{{#is title "Dashboard"}} active{{/is}}" href="index.html">
        <span class="nav-icon">&amp;</span>
        <span class="nav-title">Dashboard</span>
      </a>
    </li>

    <li>
      <a href="#">
        <span class="nav-icon">&lt;&#47;&gt;</span>
        <span class="nav-title">Examples</span>
        <span class="nav-tools has-arrow"></span>
      </a>
      <ul class="nav">
        <li><a href="bs3.html">Bootstrap 3</a></li>
        <li><a href="bs4.html">Bootstrap 4</a></li>
      </ul>
    </li>

    <li>
      <a href="#">
        <span class="nav-icon">&lt;&#47;&gt;</span>
        <span class="nav-title">Blank Pages</span>
        <span class="nav-tools has-arrow"></span>
      </a>
    <ul class="nav">
        <li><a href="2-col.html">Fixed Sidebar</a></li>
        <li><a href="no-footers.html">No Footers</a></li>
        <li><a href="no-headers.html">No Headers</a></li>
        <li><a href="no-headers-footers.html">No Headers&Footers</a></li>
        <li><a href="app-is-fixed.html">App Fixed</a></li>
        <li><a href="main-is-fixed.html">Main Fixed</a></li>
        <li><a href="fixed-topbar.html">Fixed TopBar</a></li>
        <li><a href="fixed-bottombar.html">Fixed BottomBar</a></li>
      </ul>
    </li>

  </ul>
  <!-- END: side-nav-content -->

</nav>
<!-- END: .side-nav -->
