{{#if elkSideHoverable}}
<!-- BEGIN .elk-side-header -->
<div class="elk-side-header" style="padding: .5rem; text-align:right;">
  <label class="elk-switch">
    <input name="hoverable" class="elk-switch-input" type="checkbox" checked>
    <span class="elk-switch-indicator"></span>
  </label>
</div>
<!-- END: .elk-side-header -->
{{/if}}
{{#if elkSideMini}}
<!-- BEGIN .elk-side-header -->
<div class="elk-side-header" style="padding: .5rem; text-align:right;">
  <label class="elk-switch">
    <input name="mini" class="elk-switch-input" type="checkbox" checked>
    <span class="elk-switch-indicator"></span>
  </label>
</div>
<!-- END: .elk-side-header -->
{{/if}}