<!-- BEGIN .elk-side-nav -->
<nav class="elk-side-nav">

  <!-- BEGIN: elk-side-nav-content -->
  <ul class="metismenu" id="metismenu">

    <li>
      <a class="{{#is title "Dashboard"}} active{{/is}}" href="index.html">
        <span class="has-icon"><i class="fa fa-cogs"></i></span>
        <span class="nav-title">Dashboard</span>
      </a>
    </li>

    <li{{#if ifBlank}} class="active"{{/if}}>
      <a href="#" class="has-arrow">
        <span class="has-icon"><i class="fa fa-pagelines"></i></span>
        <span class="nav-title">Blank Pages</span>
      </a>
      <ul>
        <li><a{{#is title "no footers"}} class=active{{/is}} href="no-footers.html">No Footers</a></li>
        <li><a{{#is title "no headers"}} class=active{{/is}} href="no-headers.html">No Headers</a></li>
        <li><a{{#is title "no headers & footers"}} class=active{{/is}} href="no-headers-footers.html">No Headers&Footers</a></li>
        <li><a{{#is title "app-is-fixed"}} class=active{{/is}} href="app-is-fixed.html">App Fixed</a></li>
        <li><a{{#is title "main is fixed"}} class=active{{/is}} href="main-is-fixed.html">Main Fixed</a></li>
        <li><a{{#is title "sticky header"}} class=active{{/is}} href="sticky-header.html">Sticky Header</a></li>
        <li><a{{#is title "sticky header 2"}} class=active{{/is}} href="sticky-header-2.html">Sticky Header 2</a></li>
        <li><a{{#is title "sticky footer"}} class=active{{/is}} href="sticky-footer.html">Sticky Footer</a></li>
      </ul>
    </li>
    
    <li{{#if ifSide}} class="active"{{/if}}>
      <a href="#" class="has-arrow">
        <span class="has-icon"><i class="fa fa-list"></i></span>
        <span class="nav-title">elk-side</span>
      </a>
      <ul>
        <li><a{{#is title "is-mini"}} class=active{{/is}} href="app-side-is-mini.html">is-mini</a></li>
        <li><a{{#is title "is-hoverable"}} class=active{{/is}} href="app-side-is-hoverable.html">is-hoverable</a></li>
        <li{{#if ifFixed}} class="active"{{/if}}>
          <a href="#" class="has-arrow">is-fixed</a>
          <ul>
            <li><a{{#is title "app-side fixed"}} class=active{{/is}} href="app-side-is-fixed.html">Default</a></li>
            <li><a{{#is title "elk-side hoverable"}} class=active{{/is}} href="app-side-is-fixed-is-hoverable.html">Hoverable</a></li>
          </ul>
        </li>

        <li{{#if ifSticky}} class="active"{{/if}}>
          <a href="#" class="has-arrow">is-sticky</a>
          <ul>
            <li><a{{#is title "is-sticky"}} class=active{{/is}} href="app-side-is-sticky.html">Default</a></li>
            <li><a{{#is title "is-sticky is-mini"}} class=active{{/is}} href="app-side-is-sticky-is-mini.html">mini</a></li>
            <li><a{{#is title "is-sticky is-hoverable"}} class=active{{/is}} href="app-side-is-sticky-is-hoverable.html">hoverable</a></li>
          </ul>
        </li>

      </ul>
    </li>

  </ul>
  <!-- END: elk-side-nav-content -->
  {{!-- {{> ads}} --}}
</nav>
<!-- END: .elk-side-nav -->
