<!-- BEGIN .elk-side-nav -->
<nav class="elk-side-nav">

  <!-- BEGIN: elk-side-nav-content -->
  <ul class="metismenu" id="metismenu">

    <li>
      <a class="{{#is title "Dashboard"}} active{{/is}}" href="index.html">
        <span class="has-icon"><i class="fa fa-cogs"></i></span>
        <span class="nav-title">Dashboard</span>
      </a>
    </li>

    <li>
      <a href="#" class="has-arrow" aria-expanded=false>
        <span class="has-icon"><i class="fa fa-pagelines"></i></span>
        <span class="nav-title">Blank Pages</span>
      </a>
      <ul aria-expanded=false>
        <li><a href="no-footers.html">No Footers</a></li>
        <li><a href="no-headers.html">No Headers</a></li>
        <li><a href="no-headers-footers.html">No Headers&Footers</a></li>
        <li><a href="app-is-fixed.html">App Fixed</a></li>
        <li><a href="main-is-fixed.html">Main Fixed</a></li>
        <li><a href="sticky-header.html">Sticky Header</a></li>
        <li><a href="sticky-header-2.html">Sticky Header 2</a></li>
        <li><a href="sticky-footer.html">Sticky Footer</a></li>
      </ul>
    </li>

    <li>
      <a href="#" class="has-arrow" aria-expanded=false>
        <span class="has-icon"><i class="fa fa-list"></i></span>
        <span class="nav-title">elk-side</span>
      </a>
      <ul aria-expanded=false>
      <li><a href="app-side-is-inverse.html">Dark Theme</a></li>
        <li>
          <a href="#" class="has-arrow" aria-expanded=false>is-fixed</a>
          <ul aria-expanded=false>
            <li><a href="app-side-is-fixed.html">Light</a></li>
            <li><a href="app-side-is-fixed-is-inverse.html">Dark</a></li>
            <li><a href="app-side-is-fixed-is-hoverable.html">Hoverable Light</a></li>
            <li><a href="app-side-is-fixed-is-hoverable-is-inverse.html">Hoverable Dark</a></li>
          </ul>
        </li>

        <li>
          <a href="#" class="has-arrow" aria-expanded=false>is-sticky</a>
          <ul aria-expanded=false>
            <li><a href="app-side-is-sticky.html">Light</a></li>
            <li><a href="app-side-is-sticky-is-inverse.html">Dark</a></li>
            <li><a href="app-side-is-sticky-is-mini.html">mini</a></li>
            <li><a href="app-side-is-sticky-is-hoverable.html">hoverable</a></li>
          </ul>
        </li>

        <li>
          <a href="#" class="has-arrow" aria-expanded=false>is-mini</a>
          <ul aria-expanded=false>
            <li><a href="app-side-is-mini.html">Light</a></li>
            <li><a href="app-side-is-inverse-is-mini.html">Dark</a></li>
          </ul>
        </li>

        <li>
          <a href="#" class="has-arrow" aria-expanded=false>is-hoverable</a>
          <ul aria-expanded=false>
            <li><a href="app-side-is-hoverable.html">Light</a></li>
            <li><a href="app-side-is-inverse-is-hoverable.html">Dark</a></li>
          </ul>
        </li>
      </ul>
    </li>

  </ul>
  <!-- END: elk-side-nav-content -->
  {{!-- {{> ads}} --}}
</nav>
<!-- END: .elk-side-nav -->
