<li>
  <a href="javascript:;">
    <span class="nav-icon">
      &amp;
    </span>
    <span class="nav-title">Multilevel</span>
    <span class="nav-tools has-arrow"></span>
  </a>
  <ul>
    <li>
      <a href="javascript:;">
        <span class="nav-title">Level 1</span>
      </a>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">Level 1</a>
      <ul>
        <li>
          <a href="javascript:;">
            <span class="nav-title">Level 2</span>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="has-arrow">Level 2</a>
          <ul>
            <li>
              <a href="javascript:;">
                <span class="nav-title">Level 3</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="nav-title">Level 3</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:;">
        <span class="nav-title">Level 1</span>
      </a>
    </li>
  </ul>
</li>
