<nav class="navbar navbar-toggleable-md navbar navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">elektron</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#app-side" data-toggle="onoffcanvas">
        <i class="fa fa-fw fa-bars"></i>
      </a>
    </li>
  </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="messageDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-envelope"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right animated flipInY" aria-labelledby="messageDropdownMenuLink">
          <div class="media dropdown-item">
            <img class="d-flex align-self-start mr-3 rounded-circle" src="assets/img/w1.svg" with=40 height=40 alt="Leanne Graham">
            <div class="media-body">
              <div class="mt-0 d-flex">Leanne Graham <small class="ml-auto">12 hours ago</small></div>
              started following <strong>Ervin Howell</strong>
              <p class="text-muted small">3 days ago at 7:12 pm - 10.12.2016</p>
            </div>
          </div>
          <div class="media dropdown-item">
            <img class="d-flex align-self-start mr-3 rounded-circle" src="assets/img/w1.svg" with=40 height=40 alt="Leanne Graham">
            <div class="media-body">
              <div class="mt-0 d-flex">Leanne Graham <small class="ml-auto">12 hours ago</small></div>
              started following <strong>Ervin Howell</strong>
              <p class="text-muted small">3 days ago at 7:12 pm - 10.12.2016</p>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-right text-success" href="#">
              <i class="fa fa-fw fa-envelope"></i> Read All Messages
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="notificationDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-bell"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right animated flipInY" aria-labelledby="notificationDropdownMenuLink">
          <a class="dropdown-item" href="#">
            <i class="fa fa-envelope fa-fw"></i>
            <small>12 messages</small>
            <span class="ml-3 text-muted small">4 minutes ago</span>
          </a>
          <a class="dropdown-item" href="#">
            <i class="fa fa-twitter fa-fw"></i>
            <small>4 follower</small>
            <span class="ml-3 text-muted small">3 minutes ago</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-warning text-right" href="#">
            <small>See all notification</small>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Jane Doe
        </a>
        <div class="dropdown-menu dropdown-menu-right animated flipInY" aria-labelledby="userDropdownMenuLink">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Contacts</a>
          <a class="dropdown-item" href="#">Mail Box</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
