<!-- BEGIN .side-nav -->
<nav class="side-nav">
  <!-- BEGIN: side-nav-content -->
  <ul class="metismenu nav flex-column" id="metismenu">
    <li class="nav-item">
      <a class="nav-link{{#is title "Dashboard"}} active{{/is}}" href="index.html">
        <span class="nav-icon"><i class="fa fa-fw fa-cogs"></i></span>
        <span class="nav-title">Dashboard</span>
      </a>
    </li>

{{> multilevel-nav-item}}


  </ul>
  <!-- END: side-nav-content -->
</nav>
<!-- END: .side-nav -->
