.app-side {
  width: 250px;
}

@media (min-width: 992px) {
  .app-side.is-open ~ .app-main {
    margin-left: 250px;
  }
}

.app-heading,
.app-side,
.app-footer,
.main-heading,
.main-footer {
  background: #fafafa;
}

.app-heading,
.main-heading {
  border-bottom: 1px solid #e7e7e7;
}

.app-footer,
.main-footer {
  border-top: 1px solid #e7e7e7;
}

.app-side {
  border-right: 1px solid  #e7e7e7;
}

.side-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.side-nav ul ul {
  padding-left: 1.5rem;
}

.side-nav a {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.side-nav .nav-icon {
  flex: 0 0 1.5rem;
  font-size: 1.25rem;
  color: #868e96;
}

.side-nav .nav-title {
  flex: 1;
}

.side-nav .has-arrow::after {
  border-color: #868e96;
}

.side-nav span.has-arrow::after {
  right: 0;
}

.side-nav li.active span.has-arrow::after {
  transform: rotate(-135deg) translateY(-50%);
}
