.app,
body > .ember-view {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.app-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.app-heading {
  position: relative;
}

.app-container {
  display: flex;
  flex: 1 1 auto;
  flex-basis: auto;
  flex-direction: row;
  position: relative;
}

.app-main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  flex-basis: 0%;
  transition: all 0.3s ease-out;
}

.main-content {
  position: relative;
  margin-bottom: auto;
  flex: 1 1 auto;
  flex-basis: auto;
  padding: 1rem;
}

.app-side {
  width: 15rem;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  transition: all 0.3s ease-out;
}

.app-side.is-open {
  z-index: 1000;
}

@media (min-width: 992px) {
  .app-side.is-open ~ .app-main {
    margin-left: 15rem;
  }
}

.side-content {
  margin-bottom: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-is-fixed .app {
  height: 100%;
}

.app-is-fixed .app-container,
.app-is-fixed .app-main {
  overflow-y: auto;
}

.main-is-fixed .app {
  height: 100%;
}

.main-is-fixed .app-container,
.main-is-fixed .app-main,
.main-is-fixed .main-content {
  overflow-y: auto;
}
